<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidpoker.jay.droidpoker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/as_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterAppActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SplashActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StatActivity"
            android:label="@string/title_activity_stat" />
        <activity
            android:name=".GamePlay"
            android:label="@string/title_activity_game_play"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
        </activity>
    </application>

</manifest>
